{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title> user </title>
        <link rel="stylesheet" href="{% static 'admin.css' %}">
    </head>
    <body background ="container">
        <div class="topnav">
            <a href="/auserdetails">USER DETAILS </a>
            <a href="abookscheckedout.html">BOOKS CHECKED OUT </a>
            <a href="abooksreturned.html">BOOKS RETURNED</a>
            <a href="aaddnewbooks.html"> ADD NEW BOOKS </a>
            <a href="aupdate.html"> UPTATE BOOKS </a>
            <a href="aalertuser.html"> ALERT USER </a>
            <a href="ainventorystatus.html">INVENTORY STATUS </a>
          </div>
        <div style="padding-left:16px"></div> 
            <div class="container">
                <form action=https://www.google.com/search method="get" class="search-bar">
                    <input type="text" placeholder="search anything" name="q">
                    <button type="submit"><img src="https://th.bing.com/th/id/OIP.NYKiO70QfJjBNwVaf_Y9cgAAAA?pid=ImgDet&w=179&h=179&c=7&dpr=1.3" width ="60" height="30" ></button>
                </form>        
    </body>
</html>