<!DOCTYPE html>

<html>

    <head>

        <title> Book Preview </title>
        <style>
            body{
                background-image: url('https://th.bing.com/th/id/OIP.JoGjPwNYIkAQA-6DBeTkgAHaEK?rs=1&pid=ImgDetMain');
                background-attachment: fixed;
                background-size: 100% 100%;
            }
        </style>

    <body>

        <h1 align = "center">Book Preview Details</h1>

        <h1>One Day Life Will Change </h1>

        <p>Love--does it mean running around the trees or vacationing in Switzerland,

            singing tra-la-la in the snow? Is it about gifting teddy bears and roses to your partner?

            After losing everything she holds dear--her love, her parents, and even her singing,

            Samaira is dejected. She is at her lowest point in life and has no idea what she wants.

            Vivian is the successful and dynamic head of Creative Tanks and dreams of being the top entrepreneur in India.

            When their paths cross, sparks fly, and they are drawn to each other.

            The aura of mystery around her tugs at Vivian's heartstrings.

            While Samaira seems intent on running away from love, hope,

            and her aspirations, Vivian makes it his mission to bring her back on track."</p>

 

            <h1>November 9 </h1>

            <p>

            Fallon meets Ben, an aspiring novelist, the day before her scheduled cross-country move.

            Their untimely attraction leads them to spend Fallon’s last day in L.A. together,

            and her eventful life becomes the creative inspiration Ben has always sought for his novel.

            Over time and amidst the various relationships and tribulations of their own separate lives,

            they continue to meet on the same date every year.

            Until one day Fallon becomes unsure if Ben has been telling her the truth or fabricating a

            perfect reality for the sake of the ultimate plot twist.

Can Ben’s relationship with Fallon—and simultaneously his novel—be considered a love story if it ends in heartbreak?</p>

        </body>

        </head>

</html>