<!DOCTYPE html>

<html>

    <head>

        <title> Due </title>
        <style>
            body{
                background-image: url('https://static.vecteezy.com/system/resources/previews/000/625/480/original/vector-abstract-geometric-background-in-light-colors.jpg');
                background-attachment: fixed;
                background-size: 100% 100%;
            }
        </style>

    <body>

        <h1 align = "center">Due Details</h1>

        
        </body>

        </head>

</html>