<!DOCTYPE html>
<html>
    <head>
        <title> user </title>
            <link rel="stylesheet" href="user.css">
    </head>
    <body>
        <div class="topnav">
            <a href="cart.html">CART</a>
            <a href="due.html">DUE</a>
            <a href="fine.html">FINE</a>
            <a href="profile.html">USER PROFILE</a>
            <a href="bookpreview.html">BOOK PREVIEW</a>
            <a href="help.html">SUPPORT/HELP</a>
        </div>

         

          <div style="padding-left:16px"></div>
            <div class="container">  

            <form action=https://www.google.com/search method="get" class="search-bar">

                <input type="text" placeholder="search anything" name="q">

                <button type="submit"><img src="https://th.bing.com/th/id/OIP.NYKiO70QfJjBNwVaf_Y9cgAAAA?pid=ImgDet&w=179&h=179&c=7&dpr=1.3" width ="60" height="30" ></button>
            </form>

 

       

    </body>

</html>