body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
}

div {
    width: 300px;
    margin: 0 auto;
    background-color:white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 8px;
}

input[type="text"],
input[type="password"] {
    width: calc(100% - 12px);
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="Submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="Submit"]:hover {
    background-color: #0056b3;
}

center {
    text-align: center;
}
